# replace common utilities with some improved replacements
alias cat='bat --wrap=never'
alias find='fd'
alias ls='eza -l --group-directories-first'
alias j='z'
alias jj='zi'
alias tree='tre --limit 3'

alias fixcamera="sudo killall VDCAssistant; sudo killall AppleCameraAssistant"

# most recently modified file
alias recent-file="exa -s modified --reverse | head -n 1"

alias bound-ports="sudo lsof -i -P -n | grep LISTEN"

alias ...="cd ../.."

# pbcopy does not allow you to mutate public.html
alias pbcopy-html="pbpaste | hexdump -ve '1/1 \"%.2x\"' | xargs printf 'set the clipboard to {«class HTML»:«data HTML%s»}' | osascript -"

alias asdf-install="cat .tool-versions | cut -d' ' -f1 | grep '^[^\#]' | xargs -I{} asdf plugin add {}; asdf install"

# copy last shell command into the clipboard
# fc -l == history builtin, awk command to remove trailing newline
alias clast="fc -ln -1 | awk '{printf \"%s\", \$0}' | pbcopy"

# TODO the username on this needs to be dynamic in some way
alias pisync='rsync -avh --filter=":- .gitignore" --progress $PWD pi@raspberrypi.local:~'

# fancier ping
alias ping='prettyping --nolegend'

# List all files colorized in long format, including dot files
alias la="eza -laF --group-directories-first"

# List only directories
alias lsd='eza -l -D'

# page so we get the full command output
alias pss="ps -eo user,pid,ppid,stat,etime,cmd --forest | less -S"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"
alias whois="whois -h whois-servers.net"

# Flush Directory Service cache
alias flushdns="sudo killall -HUP mDNSResponder"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en0' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en0 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Start an HTTP server from a directory
alias server="(sleep 0.1 && open http://localhost:8080/) & python -m http.server 8080"

# Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

# Dir shortcuts. Most of these aren't
alias p="cd ~/Projects"

# Edit current directory
alias e="code ."
alias o="open_in_nano ."

# File size
alias fs="stat -f \"%z bytes\""
alias ds="du -sh"

# git
alias g="git"
alias gp="g push origin HEAD"
alias gpb='g pull --rebase origin `git rev-parse --abbrev-ref HEAD`'
alias gpf='g push --force origin HEAD'

# rails
alias b="bundle"

# elixir
alias imix="iex -S mix"

# docker
alias d="docker"
alias dc='docker-compose'
# containers, networks, and ports + truncation
alias d-ps-network='docker ps --format "{{.ID}} {{.Names}} {{.Networks}} {{.Ports}}" | awk "{if(length(\$4) > 17) \$4 = substr(\$4, 1, 17) \"...\"; printf \"%s %s %s %s\n\", \$1, \$2, \$3, \$4}" | column -t'

# python
# TODO maybe fail if not in a venv
alias play="./playground.py"
alias po="poetry"
alias ipy=ipython
alias py=python
alias pyt=pytest
alias pytd="pytest --pdb -s"
alias po-pristine="poetry env remove --all -n && poetry install && py-debugging-install"
# g add poetry.lock && g checkout --theirs poetry.lock && po lock && git add poetry.lock && git rebase --continue
alias po-tree="poetry show --tree"
alias pipu="pip uninstall -y"
alias pipi="pip install -U"
alias py-debugging-install='pip install --upgrade pip; pip install --upgrade --force-reinstall ipython ipdb "pdbr[ipython]" rich ipython_autoimport IPythonClipboard ipython_ctrlr_fzf docrepr pyfzf jedi pretty-traceback pre-commit sqlparse debugpy ipython-suggestions git+https://github.com/iloveitaly/rpdb.git@multiple-continue datamodel-code-generator funcy-pipe; poetry self add poetry-plugin-up'
# TODO use --exec here instead
alias py-remove-pycache="fd --no-ignore-vcs __pycache__ | xargs rm -rf"
alias py-spy-all="ps aux | grep '[p]ython' | awk '{print \$2}' | xargs -I {} py-spy dump --pid {}"

# TODO why not just add /usr/libexec to the path?
# PlistBuddy alias, because sometimes `defaults` just doesn’t cut it
alias plistbuddy="/usr/libexec/PlistBuddy"

alias htop="htop --sort-key=PERCENT_CPU"
