# replace common utilities with some improved replacements
alias cat='bat --wrap=never'
alias find='fd'
alias ls='exa -l --group-directories-first'
alias j='z'
alias jj='zi'
alias tree='tre --limit 3'

alias fixcamera="sudo killall VDCAssistant; sudo killall AppleCameraAssistant"

alias ...="cd ../.."

alias asdf-install="cat .tool-versions | cut -d' ' -f1 | grep '^[^\#]' | xargs -I{} asdf plugin add {}; asdf install"

# copy last shell command into the clipboard
# fc -l == history builtin, awk command to remove trailing newline
alias clast="fc -ln -1 | awk '{printf \"%s\", \$0}' | pbcopy"

# TODO the username on this needs to be dynamic in some way
alias pisync='rsync -avh --filter=":- .gitignore" --progress $PWD pi@raspberrypi.local:~'

# fancier ping
alias ping='prettyping --nolegend'

# List all files colorized in long format, including dot files
alias la="exa -laF --group-directories-first"

# List only directories
alias lsd='exa -l -D'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"
alias whois="whois -h whois-servers.net"

# Flush Directory Service cache
alias flushdns="sudo killall -HUP mDNSResponder"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en0' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en0 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Start an HTTP server from a directory
alias server="(sleep 0.1 && open http://localhost:8080/) & python -m http.server 8080"

# Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

# Dir shortcuts. Most of these aren't
alias p="cd ~/Projects"

# Edit current directory
alias e="code ."
alias o="open_in_nano ."

# File size
alias fs="stat -f \"%z bytes\""

# git
alias g="hub"
alias gp="g push origin HEAD"
alias gpb='g pull --rebase origin `git rev-parse --abbrev-ref HEAD`'
alias gpf='g push --force origin HEAD'

# rails
alias rt="bundle exec rails test"
alias be="b exec"
alias b="bundle"

# elixir
alias imix="iex -S mix"

# python
# TODO maybe fail if not in a venv
alias po="poetry"
alias ipy=ipython
alias py=python
alias pyd=ipdb3
alias poetry-pristine="poetry env remove python && poetry env use python && poetry install"
# poetry self add poetry-plugin-up
alias python-debugging-install="pip install ipython ipdb pdbr rich ipython_autoimport docrepr pyfzf jedi pretty-traceback"
# TODO use --exec here instead
alias python-remove-pycache="fd --no-ignore-vcs __pycache__ | xargs rm -rf"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Toggle spotlight
alias spotoff="sudo launchctl unload -w /System/Library/LaunchDaemons/com.apple.metadata.mds.plist && sudo mdutil -a -i off"
alias spoton="sudo launchctl load -w /System/Library/LaunchDaemons/com.apple.metadata.mds.plist && sudo mdutil -a -i on"

# PlistBuddy alias, because sometimes `defaults` just doesn’t cut it
alias plistbuddy="/usr/libexec/PlistBuddy"
