# Make nano the default editor for context-less editing in the terminal
export EDITOR=nano

# enable colored output from ls, etc
export CLICOLOR=1

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# https://github.com/bigH/git-fuzzy/pull/16/files
export GIT_FUZZY_STATUS_ADD_KEY='Ctrl-A'
export GIT_FUZZY_STATUS_COMMIT_KEY='Ctrl-S'

export RIPGREP_CONFIG_PATH=$HOME/.ripgreprc

# always show a file preview on the right. cntrl-o opens the file in vscode
export FZF_DEFAULT_OPTS="--bind='ctrl-o:execute(code {})+abort' --preview 'bat --color always {}'"
export FZF_CTRL_R_OPTS="--preview-window up:3 --preview 'echo {}'"

# large shell history
export HISTFILE=~/.zsh_history
export SAVEHIST=10000
export HISTSIZE=10000

# autocomplete on completions as well
export ZSH_AUTOSUGGEST_STRATEGY=(history completion)
export ZSH_AUTOSUGGEST_USE_ASYNC=1

# Make some commands not show up in history
export HISTORY_IGNORE="(ls*|pwd|exit|cd*|gc*|* --help|history)"

# faster git status loading for large repos
export PURE_GIT_UNTRACKED_DIRTY=1

# env config for compatibility with omz
export ZSH=${HOME}/.zsh
export ZSH_CACHE_DIR=${ZSH}/cache

# encoding
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

# more powerful less config
# https://www.topbug.net/blog/2016/09/27/make-gnu-less-more-powerful/
export LESS='--quit-if-one-screen --ignore-case --status-column --LONG-PROMPT --RAW-CONTROL-CHARS --HILITE-UNREAD --tabs=4 --no-init --window=-4'

# TODO add configuration to autocolor less output https://superuser.com/a/564531?
# TODO or use bat instead? Appartently it can be used as a pager as well?

# elixir
export ERL_AFLAGS="-kernel shell_history enabled"