# don't automatically setup atuin shell history bindkeys
export ATUIN_NOBIND=1

# Make nano the default editor for context-less editing in the terminal
export EDITOR=nano

# https://github.com/bigH/git-fuzzy/pull/16/files
export GIT_FUZZY_STATUS_ADD_KEY='Ctrl-A'
export GIT_FUZZY_STATUS_COMMIT_KEY='Ctrl-S'
export GIT_FUZZY_STATUS_DISCARD_KEY='Ctrl-D'
export GIT_FUZZY_STATUS_RESET_KEY='Ctrl-R'

# I use a git rebase workflow, no graphs
export FORGIT_LOG_GRAPH_ENABLE=false

export RIPGREP_CONFIG_PATH=$HOME/.ripgreprc

# always show a file preview on the right. cntrl-o opens the file in vscode
export FZF_DEFAULT_OPTS="--bind='ctrl-o:execute(code {})+abort' --info=hidden"
export FZF_CTRL_R_OPTS="--preview-window up:3"

# large shell history
export HISTFILE=~/.zsh_history
export SAVEHIST=10000
export HISTSIZE=11000

# Make some commands not show up in history
export HISTORY_IGNORE="(ls*|pwd|exit|cd*|gc*|* --help|history|j *|jj *|glo|gfu|g st|g ss)"

# autocomplete on completions as well
export ZSH_AUTOSUGGEST_STRATEGY=(history completion)

# faster git status loading for large repos
export PURE_GIT_UNTRACKED_DIRTY=1

# env config for compatibility with omz
export ZSH=${HOME}/.zsh
export ZSH_CACHE_DIR=${ZSH}/cache

# encoding
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

# without this some CLI tools (gh cli, for instance) do not page contents
export PAGER=less

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -FX"

# more powerful less config
# https://www.topbug.net/blog/2016/09/27/make-gnu-less-more-powerful/
export LESS='--quit-if-one-screen --ignore-case --status-column --LONG-PROMPT --RAW-CONTROL-CHARS --HILITE-UNREAD --tabs=4 --no-init --window=-4'

# TODO add configuration to autocolor less output https://superuser.com/a/564531?
# TODO or use bat instead? Appartently it can be used as a pager as well?

# elixir
export ERL_AFLAGS="-kernel shell_history enabled"

# python
export IPDB_CONTEXT_SIZE=10
# command to use for `breakpoint()`
export PYTHONBREAKPOINT=ipdb.set_trace
# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';
# https://www.erdaltaskesen.com/blog/how-to-remove-pycache-folders-and-pyc-files/
# https://github.com/pytest-dev/pytest/issues/200
export PYTHONDONTWRITEBYTECODE=1
# https://github.com/python-poetry/poetry/issues/1853
export VIRTUAL_ENV_DISABLE_PROMPT=1
