[user]
  name = Michael Bianco
  email = iloveitaly@gmail.com
[github]
  user = iloveitaly
  token = 77e92535c1c0c00e080c1e601713ba3f
[core]
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
  whitespace = fix,space-before-tab,tab-in-indent,trailing-space
  editor = nano
[alias]
  st = status -sb
  c = checkout
  b = branch
  d = diff
  # Find FIXME, TODO, etc
  n = !"git ls-files | xargs notes 2>/dev/null | awk -F: '{ print $1,$2; print $3,$4; print $5}' | grcat conf.notes "
  # review changes exclusive to the current branch (right diff) in Kaleidoscope
  ksreview = "!f() { local SHA=${1:-HEAD}; local BRANCH=${2:-master}; if [ $SHA == $BRANCH ]; then SHA=HEAD; fi; git difftool $BRANCH...$SHA; }; f"
  logv = log --pretty=fuller

  # http://technosorcery.net/blog/2010/02/07/fun-with-the-upcoming-1-7-release-of-git-rebase---interactive---autosquash/
  fixup = !sh -c 'git commit --fixup=$1' -
  squash = !sh -c 'git commit --squash=$1' -
  ri = rebase --interactive --autosquash
[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[merge]
  log = true
  tool = Kaleidoscope
[format]
  pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset
[rerere]
  enabled = 1
[credential]
  helper = osxkeychain

# Kaleidoscope stuff
[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
  tool = Kaleidoscope
[difftool]
  prompt = false
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true
[gitsh]
  defaultCommand = st
  noGreeting = true
[hub]
  protocol = https