[user]
  name = Michael Bianco
  email = iloveitaly@gmail.com
[github]
  user = iloveitaly
  token = 77e92535c1c0c00e080c1e601713ba3f
[core]
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
  whitespace = fix,space-before-tab,tab-in-indent,trailing-space
  editor = nano
  autocrlf = input
  safecrlf = true
[alias]
  st = status
  # Find FIXME, TODO, etc
  n = !"git ls-files | xargs notes | awk -F: '{ print $1,$2; print $3,$4; print $5}' | grcat conf.notes "
[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[merge]
  log = true
[format]
  pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset
[rerere]
  enabled = 1
