# ^G to display all bindings
# inspiration
#   - https://github.com/davidhcefx/Modern-Nano-Keybindings

set linenumbers
set autoindent
set numbercolor yellow,normal
set afterends     # `Ctrl+Right` move to word ends instead of word starts
set historylog    # remember search history
set wordchars "_" # recognize '_' as part of a word
set constantshow  # show line and column information at the bottom

bind M-1 help all # fix ^G been used

# less-style page navigation bindings
# bind ^G firstline all
bind M-G lastline all

# ^u & ^d to page up and down, like less
bind ^U pageup all
bind ^D pagedown all

# https://www.nano-editor.org/dist/latest/nanorc.5.html
bind ^w chopwordleft main

# ^K like ZLE and VS Code
# bind ^K cuttextend main

# kill entire line with opt+shif+k
# bind M-K cutline main

# rebind search
bind ^F whereis main

# add/remove comment shortcut
bind M-/ comment main

# opt left/right word jump mapping
bind M-B prevword main
bind M-F nextword main

set matchbrackets "(<[{)>]}"

# https://github.com/scopatz/nanorc/ is included after this line
include ~/.nano/*.nanorc
