# https://github.com/yazi-rs/plugins/tree/main/git.yazi

[manager]
show_hidden = true

[[plugin.prepend_fetchers]]
id = "git"
name = "*"
run = "git"

[[plugin.prepend_fetchers]]
id = "git"
name = "*/"
run = "git"

[[manager.prepend_keymap]]
on = ["Y"]
run = "shell 'cat $0 | pbcopy' --confirm"
desc = "Copy file content to clipboard"
