[Unit]
Description=Headless Sway (assistant wayvnc)
After=dbus.socket
Wants=dbus.socket

[Service]
Type=simple
ExecStart=/usr/bin/sway --config %h/.config/sway/config
Restart=on-failure
RestartSec=3
Environment=WLR_BACKENDS=headless
Environment=WLR_LIBINPUT_NO_DEVICES=1
Environment=WLR_RENDERER=gles2
Environment=WLR_RENDER_DRM_DEVICE=/dev/dri/renderD128
Environment=XDG_SESSION_TYPE=wayland
Environment=XDG_CURRENT_DESKTOP=sway

[Install]
WantedBy=default.target
