
format = """
$username\
$hostname\
$directory\
$git_branch\
$git_state\
$git_status\
$cmd_duration\
$line_break\
$direnv\
$python\
$character"""

[directory]
style = "blue"

[character]
success_symbol = "[❯](purple)"
error_symbol = "[❯](red)"
vimcmd_symbol = "[❮](green)"
# https://github.com/iloveitaly/pure/commit/5b10ea778490ce1eeb215c49e00b44d5924d4e28#diff-40ce3705d282be66579b84dcb3daf96a192c8ea10f7fc5e6737a72979f010b1bR855
format = "$symbol\u00A0"

[git_branch]
format = "[$branch]($style)"
style = "bright-black"

[git_status]
format = "[[(*$conflicted$untracked$modified$staged$renamed$deleted)](218) ($ahead_behind$stashed)]($style)"
style = "cyan"
stashed = "≡"

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\) '
style = "bright-black"

[cmd_duration]
format = "[$duration]($style) "
style = "yellow"

# TODO would be cool to indicate when a venv is not in place https://github.com/starship/starship/issues/3251
[python]
format = "${symbol}([$virtualenv ]($style))"
style = "bright-black"

[direnv]
disabled = false
